@media (prefers-color-scheme: dark) {
    body {
        background-color: #101010;
        color: #a8a8a8;
    }
    h1, h2, h3, h4, h5, h6 {
        color: #cccccc;
    }
    #sidebar, #menu {
        background-color: #101010;
    }
    #header.logo {
        color: #cccccc;
    }
    #sidebar > .inner > .alt {
        background-color: #101010;
    }
    #menu ul a, #menu ul span.opener {
        color: #cccccc;
    }
    #menu > ul > li > ul a, #menu > ul > li > ul span {
        color: #a8a8a8;
    }
    #sidebar .toggle:before {
        color: #cccccc;
    }
    #sidebar .toggle:after {
        background: rgba(16, 16, 16, 0.75);
    }
    table th {
        color: #cccccc;
    }
    table.alt tbody tr td {
        border: solid 1px rgba(58, 58, 58, 0.75);
    }
    table tbody tr:nth-child(2n + 1) {
        background-color: rgba(61, 61, 61, 0.25);
    }
    hr {
        border-bottom: solid 1px rgba(44, 44, 44, 0.75);
    }
    .mini-posts article {
        border-top: solid 1px rgba(44, 44, 44, 0.75);
    }
    #menu > ul > li {
        border-top: solid 1px rgba(44, 44, 44, 0.75);
    }
    #sidebar > .inner > * {
        border-bottom: solid 2px rgba(45, 45, 45, 0.75);
    }
    ul.contact li {
        border-top: solid 1px rgba(45, 45, 45, 0.75);
    }
    #main > .inner > section {
        border-top: solid 2px rgba(45, 45, 45, 0.75);
    }
    .posts article:before {
        background: rgba(45, 45, 45, 0.75);
    }
    .posts article:after {
        background: rgba(45, 45, 45, 0.75);
    }
}


#menu img.minecraft-item-icon {
    float: left;
    width: 7%;
    height: 7%;
    margin-right: 4px;
}

span img.minecraft-item-icon2 {
    width: 80%;
    height: 80%;
    margin-right: 4px;
    margin-bottom: -6px;
}

span img.minecraft-stamp {
    width: 50%;
    height: 50%;
}

video {
    width: 95%;
    border-radius: 10px;
}

/*----*/

.tooltip { /* 補足説明するテキストのスタイル */
    position: relative;
    cursor: pointer;
    padding: 0 5px;
    font-size: 0.9em;
    color: #4682b4;
}
.description_top { /* ツールチップのスタイル */
    width: 80px; /* 横幅 */
    position: absolute;
    top: 50%;
    left: 80%; /* Y軸の位置 */
    transform: translateY(-50%);
    margin-bottom: 8px; /* テキストとの距離 */
    padding: 8px;
    border-radius: 8px; /* 角の丸み */
    background-color: #3e3e3e;
    font-size: 0.7em;
    color: #cccccc;
    text-align: center;
    visibility: hidden; /* ツールチップを非表示に */
    opacity: 0; /* 不透明度を0％に */
    z-index: 1;
    transition: 0.5s all; /* マウスオーバー時のアニメーション速度 */
}
.tooltip:hover .description_top { /* マウスオーバー時のスタイル */
    left: 100%; /* X軸の位置 */
    visibility: visible; /* ツールチップを表示 */
    opacity: 1; /* 不透明度を100％に */
}