button.disabled,
button:disabled,
.button.disabled,
.button:disabled {
    opacity: 0.4;
}

button.primary,
.button.primary {
    background-color: #f56a6a;
    box-shadow: none;
    color: #ffffff !important;
    opacity: 0.9;
}