@import url('https://fonts.googleapis.com/css2?family=RocknRoll+One&family=Yusei+Magic&display=swap');

h1, h2, h3, h4, .button {
    font-family: 'RocknRoll One', sans-serif;
}
body, input, select, textarea, header p, #header .logo, #menu ul a, #menu ul a.opener, #menu ul span.opener {
    font-family: 'Yusei Magic', sans-serif;
}
.button {
    text-transform: capitalize;
}
#menu ul {
    text-transform: capitalize;
}